@charset "utf-8";
/* search.css*/


.sub_common>.headBox > .headTxt::after{
	content: "";
	position: absolute;
    border-bottom: 1px solid #063768;
    width: 30px; 
    left: 50%;
	top: -20px;
    margin-left: -15px;  
}
.sub_common>.headBox>.resultTxt{
	position: relative;
	display: inline-block;
	width: auto;
	min-width: 30px;
	height: auto;
	min-height: 50px;
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
}


.sub_common>.headBox>.resultTxt>.rt1{
	position: relative;
	float: left;
	font-size: 36px;
	font-weight: bold;
	margin-right: 10px;	
}

.sub_common>.headBox>.resultTxt p{
	position: relative;
	float: right;
	font-size: 24px;
	border-bottom: 2px solid #063768;
	text-align: center;
}







/*************** 3. 검색 영역 ***************/



.searchBox{
	position: relative;
	margin: 0 auto;
	width: 62%;
	height: 50px;
	margin-bottom: 50px;
	margin-top: 30px;
	box-sizing: border-box;
}

.searchBar{
	position: relative;
	display: block;
	top: 0px;
	width: 100%;
	height: 50px;
	border: 1px solid #063768;
	border-radius: 55px;
	margin-bottom: 30px;	
	margin: 0 auto;	
	padding-left: 20px;
}

.ion-md-search{
	position: absolute;
	right: 5px;
	top: 15px;
	font-size: 30px;
}


.snsList > .tab_container  iframe{
	width: 100%;
	min-width: 500px;
	height: auto;
	min-height: 550px;
	margin: 0 auto;	
}


#searchSns{
	position: relative;
	width: 100%;
	max-width: 1300px;
	height: auto;
	min-height: 600px;
	margin: 0 auto;	
	padding: 0;
	margin-top: 30px;
	text-align: center;
}


#searchSns>.snsList{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 98%;
	height: auto;
	min-height: 600px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}

.snsList>ul{
	position: relative;
	width: 100%;
	height: auto;
	list-style: none;
	box-sizing: border-box;
}

.snsList>ul.tabs {
    margin: 0;
	width: 100%;
    height: 42px;    
    font-size: 16px;    
    box-sizing: border-box;	
}
 

 .snsList>ul.tabs li { /*로고 넣은 자리*/
	position: relative;
    float: left;
    text-align: center;
    cursor: pointer;
    width: 50%;
    height: 50px;	
    border: 1px solid #ccc;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;    
    box-sizing: border-box;
}
.snsList>ul.tabs li:nth-child(2){
	border-right: none;
}
.snsList>ul.tabs li.active {
    background: #fff;
    border-bottom: none;
	box-sizing: border-box;
}

.snsList>ul.tabs>li:nth-child(1){	
	background: url(../images/tab_logo1.png) no-repeat 50%;
}

 .snsList>ul.tabs>li:nth-child(2){
	background: url(../images/tab_logo2.png) no-repeat 50%;
}


 .snsList>.tab_container{
	position: relative;
	display: block;
	border: 1px solid #eee;
	border-top: none;
	float: left;
	width: 100%;
	height: 500px;
	background: #fff;
	padding: 10px;
	box-sizing: border-box;	
	margin: 10px 0;
}

#tab1, #tab2{
	position: relative;
	display: block;
	margin: 0 auto;
}
#tab1{
	max-width: 500px;
}














